#pageframe{
    position:absolute;
    top:20%;
    width:50%;
    height:55%;
    height: 60%;
}
#README{
    z-index: 400;
    width:40%;
    height:50%;
    position:absolute;
    top:60%;
}
#Nav{
    /*layered over other elems*/
    z-index: 1;
    position:fixed;
    top:0%;
    width:100%;
    height:15%;
    background-color: antiquewhite;
}


.octicon.octicon-home{
    text-decoration: none;
    color:black;
    font-size: 100;
    position: absolute;
    top:15%;
    left: 20%;
}
.octicon.octicon-home:hover{
    color:cornflowerblue;
}
.octicon.octicon.octicon-mark-github{
    text-decoration: none;
    color: black;
    font-size:90;
    position: absolute;
    top:20%;
    right: 20%;
}
.octicon.octicon.octicon-mark-github:hover{
    color:cornflowerblue;
}
/*
.octicon.octicon.octicon-cloud-download{
    font-size: 100;
    position: absolute;
    top:15%;
    right: 30%;
}
.octicon.octicon.octicon-cloud-download:hover{
    color:cornflowerblue;
}*/