
    .UpdateText{
        text-align: center;
        left:5%;
        top:5%;
        position: absolute;
        }	
.NewsText{
	text-align: center;
	left:5%;
	top:5%;
	position: absolute;
	}	
.News{
	display:block;
	margin-left:25%;
	margin-right:25%;
	margin-top:0.5%;
	width:50%;
	height:20%;
	background-color:gray;
	overflow: hidden;
	position: relative;
	border-radius: 10%;
    }
    
    .Slide{
        display:none;
        width:50%;
    }
        .newbox{
            background-color:rgb(0, 0, 0);
            display: block;
            position:absolute;
            top:10%;
            height:80%;
            width:25%;
            border-radius: 15%;
        }

.Prev, .Next{
	cursor: pointer;
	position: absolute;
    top:50%;
	width:auto;
	}    

.NewsSlide{
	display:none;
	width:50%;
    }
    
.infobox{
	background-color:rgb(0, 0, 0);
	display: block;
	position:absolute;
	top:10%;
	height:80%;
	width:25%;
	border-radius: 15%;
}


.Backdrop{
    z-index:-3;
    position: relative;
    margin-left:22%;
    margin-right:22%;
    height:30%;
    background-image: url("../pages/images/main.png");
    /*background-image: url("/website/pages/images/main.png");*/
    margin-top: 5%;
    }
    .Title{	
        z-index: -2;
        display:block;
        margin-left:25%;
        margin-right:25%;
        width:50%;
        height:20%;
        background-color:black;
    }
    .Play{
        z-index: -1;
        display:block;
        margin-left:35%;
        margin-right:35%;
        width:30%;
        height:20%;
        background-color:black;
    }
