/*
styles used by all/almost all pages(eg navbar, banners, maybe forms)
*/
body{font-size:100%;}

#NavBar{
    width:60%;
    height:4vw;
    position:absolute;
    top:0%;
    left:20%;
    display: block;
    text-align: center;
    background-color:rgb(104, 104, 104);	
    border-bottom:10 ;
}

#Nav{
    list-style-type: none;
    overflow: hidden;
    display:block;
}
    #Nav a:hover{
        background-color:black;
    }
        #loginNav{
            position:absolute;
            top:0%;
            right: 0%;
            font-size:4vw;
        }
        #accountNav{
            position:absolute;
            top:0%;
            right: 25%;
            font-size:4vw;
            }
        #gameNav{
            position:absolute;
            left: 0%;
            font-size:4vw;
            top:0%;    
        }
        #homeNav{
            display:block;
}

#FormContainer{
    display:none;
    background-color: aqua;
    position: absolute;
    left:25%;
    width:50%;
    height:10%;
}
#NewContainer{
    display:none;
    background-color: brown;
    position: absolute;
    left:25%;
}


.left{
    position:absolute;
    top:0%;
    left:0px;
    height:100%;
    width:20%;	
    background-color:red;
    background-image: url("Trees.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.right{
    position:absolute;
    top:0%;
    right:0px;
    height:100%;
    width:20%;
    background-color:red;
    background-image: url("Trees.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}